<footer class="footer  navbar-light py-3  mt-3 navbar-expand-md inverse "style="background-color: #e3f2fd;" >
    <div class="container text-center">
        <span class="text-muted text-center" >&copy; 
             國立政治大學資訊管理研究所</span>
    </div>
</footer>
 