
<div class="row sticky-top">
<nav class=" navbar sticky-top navbar-expand-sm navbar-dark bg-dark">

    <div class="container">
    

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" navbar-collapse collapse" id="navbarNavAltMarkup">
        <!-- <a class="navbar-brand" href="/index">
        
        </a> -->
        <div class="navbar-nav">
          <a class="nav-link"  href="/index">首頁</a>
          <a class="nav-link" href="/tp-liang">財務人員系統</a>
          <a class="nav-link" href="/ch-peng">會計人員系統</a>
          <a class="nav-link" href="/labmember">會員登入</a>
          </div>
      </div>
    </div>
  </nav>
</div>
