

<div class="row sticky-top ">
  <nav class="navbar navbar-light sticky-top navbar-expand-sm" style="background-color: #26587c;">


    <div class="navbar-nav mx-2 col-5" style="font-weight:bold;">
      <img src="https://image.flaticon.com/icons/png/512/4185/4185655.png" style="height:50px;width:50px"alt="">
      <a class="nav-link"  href="/index">台灣積體電路製造股份有限公司-財會商業智慧分析系統</a>
    </div>

      <div class="container">
      
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class=" navbar-collapse collapse" id="navbarNavAltMarkup">

      
          <div class="navbar-nav ms-auto">
            <div class="navbar-nav">
              <a class="nav-link"  href="/index">首頁</a>
              <a class="nav-link" href="/GeneralFinancialAccountingInformationAnalysis">一般財會資訊分析</a>
              <a class="nav-link" href="/AdvancedFinancialAccountingInformationAnalysis">進階財會資訊分析</a>
              <a class="nav-link" href="/PremierFinancialAccountingInformationAnalysis">高階財會資訊分析</a>
              <% if(!currentUser) {%>
          
                <button type="button" class="btn btn-light" onclick="javascript:location.href='/login'" style="float:left;margin-left:10px;">登入</button>
                <button type="button" class="btn btn-light"  onclick="javascript:location.href='/register'" style="float:left;margin-left:10px;">註冊</button>
              
                <% } else {%>
               
                  <button type="button" class="btn btn-light"    onclick="javascript:location.href='/logout'" style="float:left;margin-left:10px;">登出</button>
                <% } %>
              </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  