<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>電子商務與服務科學實驗室</title>

   
    <script src='/javascripts/bootstrap.bundle.min.js'></script> 
    <script type='text/javascript' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

</head>

<body class="d-flex flex-column ">  <!--d-flex flex-column vh-100 是boostrap內的功能-->
   
    <%-include('../partials/navbar') %>
  
    <div>
        <%-include('../partials/flash') %>
        <%-body %>
    </div>
    <%-include('../partials/footer') %>
</body>
</html>

