
.container-fluid{
padding-right: 0px;
padding-left: 0px;
}
.nav-link{
 font-size: 1.3rem !important;
}
.container{
  font-weight: bold;
}
.carousel .carousel-item {
height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

/* .navbar-brand {
width: 200px;
left: 15px;
} */

.research{
  font-style: oblique;
}

/* .nav-back{
  background-color: black;
} */

.navbar-inner {
  min-height: 0px;
}
/* .navbar{
  background-color:#212529!important;
} */

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
   
}
.navbar-nav .nav-link {
  color:white!important; 
}

.maincard{
  max-width: 540px;
}
.picintroduce{
  text-align:center;
}

.bodycontainer{
  padding-bottom: 35px;
}
   /* small devices */

.logincontainer{
  background-image:url('/pic/toby-osborn-ilHo9qgDEGY-unsplash.jpg');
  background-repeat: no-repeat;
 
  background-size: cover;
}
.logincard{
  opacity:0.8;
}

  @media screen and (min-width: 300 px) {
    .navbar-inner {
      min-height: 0px;
    }
    .navbar-brand,
    .navbar-nav li a {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
    }
    .navbar-brand {
      width: 200px;
    }
  }

  @media screen and (min-width: 576px) {
    .navbar-brand {
      width: 400px;
    }
    .memberrow{
      padding-left:6rem!important;
    }
    .memberintro{
      flex:0 0 auto!important;
      width:91.6666666667%!important;
    }
  }