<% layout('layouts/boilerplate')%>
<div>

 

  
    <div class='tableauPlaceholder' style='width: 1536px; height: 670px;'>
      <object class='tableauViz' width='1536' height='670' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;nccumis' />
        <param name='name' value='_0&#47;sheet0' /><param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='showAppBanner' value='false' />
    </object>
  </div>
  
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions-1"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions-1"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  

