<% layout('layouts/boilerplate')%>

<div class="container">
  <h1 class="display-4">開發人員</h1>
  <p></p>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/pic/kenny.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">商肯豪</h5>
      <p class="card-text">資管所碩一</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">109356023@nccu.edu.tw</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/pic/hu.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">胡祐銓</h5>
      <p class="card-text">資管所碩一</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">109356035@nccu.edu.tw</small>
    </div>
  </div>
  
</div>
</div>