<% layout('layouts/boilerplate')%>

<div class="container py-5 mb-5">
  <h1>系統架構圖</h1>
  <p></p>
  <div class="row shadow  ">
   
      <img src="/pic/Systemar.jpg"  />
   
      </div>

 
  </div>
</div>

<div class="container py-5 mb-5">
  <h1>Data Flow Diagram</h1>
  <p></p>
  <div class="row shadow  ">
    <div class="mx-5">
      <img src="/pic/dataflow.png"  />
   
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h1>開發人員</h1>
<div class="card-group mt-3 row shadow ">
  
  <div class="card ">
    <img class="card-img-top" src="/pic/kenny.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">商肯豪</h5>
      <p class="card-text">政大資管所碩一</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">109356023</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/pic/hu.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">胡祐銓</h5>
      <p class="card-text">政大資管所碩一</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">109356035</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/pic/wan.jpg" width="414" height="319" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">王澤恩</h5>
      <p class="card-text">政大資管所碩一</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">109356033</small>
    </div>
  </div>
</div>
</div>


</div>