<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">註冊帳號</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">帳號</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                沒問題。
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">密碼</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                沒問題。
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="rank">職等</label>
                            <select id="rank" name="rank">
                            
                                <option value="dog">Dog</option>
                                <option value="cat" >Cat</option>
                            </select>
                            <div class="valid-feedback">
                                沒問題。
                            </div>
                        </div>
                       
                        <div class="d-grid gap-2">
                        <button class="btn btn-success btn-block">註冊</button>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>